









body{

  

 

background: black;

  align-items: center;

  justify-content: center;

}

button{

  position: relative;

  height: 60px;

  width: 200px;

  border-radius:2px;

padding:1000px

  color: white;
  background-color:black;
  align-items : center;
  margin:3px;
  margin-left:2px;
  margin-right:2px;
 }









































































  

    
    


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
 
 
  
}

h1{
  color: white;
  text-align: center;
 
}

h2{
  color: darkred;
  text-align: center;
}
h3{
  color: white ;
  text-align: center;
}
h4{
  color: white;
  text-align: center;
}

p{
  text-align: center;
  color: orange ;
  
}

  

 

  

 
  
  

a:link { text-decoration: none;
}
footer{ text-align: center;
  color: coral;
}
marquee{
  colour:red;
  {
