body {
  background-repeat: repeat;
  background-size:200px auto ;
    font-size: 15pt;
    
    
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
 
 
  
}

h1{
  color: white;
  text-align: center;
 
}

h2{
  color: white;
  text-align: center;
}
h3{
  color: white;
  text-align: center;
}
h4{
  color: white;
  text-align: center;
}

p{
  text-align: center;
  color: white;
  
}
button{
  font-size: 20pt;
 color: white;
  padding: 15px 32px;
border-radius: 10px;
  background-color: black;
  margin: 4px 2px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
a:link { text-decoration: none;
}
footer{ text-align: center;
  color: coral;
}
